{% extends '../layouts/default.njk' %}
{% block link %}
    <link href="https://cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1 class="page-title">文章编辑</h1>
    <form action="/admin/update-article" method="POST" class="article-edit" onsubmit="return func()">
        <div class="form-item hide">
            <label for="id">ID</label>
            <input type="text" name="id" value="{{article.id | default}}">
        </div>
        <div class="form-item">
            <label for="title">标题</label>
            <input type="text" name="title" value="{{article.title}}" minlength="1" maxlength="100">
        </div>
        <div class="form-item">
            <label for="slug">地址</label>
            <input type="text" name="slug" value="{{article.slug}}" minlength="1" maxlength="100">
        </div>
        <div class="form-item">
            <label for="keywords">关键词</label>
            <input type="text" name="keywords" value="{{article.keywords}}" minlength="1" maxlength="100">
        </div>
        <div class="form-item">
            <label for="description">描述</label>
            <textarea name="description" minlength="1" maxlength="300" rows="1">{{article.description}}</textarea>
        </div>
        <div class="form-item half">
            <label for="category_id">类别</label>
            <select name="category_id">
            {% for item in categories %}
                {% if item.id == article.category_id %}
                    <option value="{{item.id}}" selected>{{item.name}}</option>
                {% else %}
                    <option value="{{item.id}}">{{item.name}}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
        <div class="form-item half">
            <label for="status">发布</label>
            {% if article.status == 1 %}
                <input type="checkbox" name="status" value="{{article.status}}" checked>
            {% else %}
                <input type="checkbox" name="status" value="{{article.status}}">
            {% endif %}


        </div>
        <div class="form-item content-wrap">
            <textarea name="content" rows="50">{{article.content}}</textarea>
        </div>
        <button class="preview">预览</button>
        <button class="save">保存</button>
    </form>
    <div class="preview-container">
        <div class="article-content markdown-body"></div>
    </div>
{% endblock %}

{% block js %}
<script>
    function func(){
        return false;
    }
    var preBtn = document.querySelector('.preview');
    var preWrap = document.querySelector('.preview-container');

    preBtn.onclick = preview;
    preWrap.onclick = function (e) {
        e.preventDefault();
        preWrap.style.display = 'none';
        return false;
    }
    function preview() {
        var md = document.querySelector("textarea[name='content']").value;
        fetch('/tool/parser-md-to-html', {
            headers: new Headers({'Content-Type': 'application/json'}),
            method: 'POST',
            body: JSON.stringify({
                'md': md
            })
        }).then(function(response) {
            return response.json();
        }).then(function(res) {
            var pre = document.querySelector('.preview-container .article-content');
            pre.innerHTML = res.data.html
            preWrap.style.display = 'block';
        })
    }

    var saveBtn = document.querySelector('.save');
    saveBtn.onclick = function (e) {
        e.preventDefault();
        var form = document.querySelector('.article-edit'),
            formData = {
                id: form.querySelector("[name='id']").value || null,
                title: form.querySelector("[name='title']").value,
                description: form.querySelector("[name='description']").value,
                keywords: form.querySelector("[name='keywords']").value,
                slug: form.querySelector("[name='slug']").value,
                content: form.querySelector("[name='content']").value,
                category_id: form.querySelector("[name='category_id']").selectedIndex,
                status: form.querySelector("[name='status']").checked ? 1 : 0,
            };
        fetch('/admin/save-article', {
            headers: new Headers({'Content-Type': 'application/json'}),
            method: 'POST',
            body: JSON.stringify(formData)
        }).then(function(response) {
            return response.json();
        }).then(function(res) {
            if(!res.status) {
                console.log(res.message);
            }
            console.log(res.message);
            if(!formData.id) {
                form.querySelector("[name='id']").value = res.data.id
            }
        })
        return false;
    }

</script>
{% endblock %}