{% extends '../layouts/default.njk' %}

{% block content %}
    <h1 class="page-title">文章编辑</h1>
    <div action="/admin/update-article" method="POST"   class="article-edit">
        <div class="form-item hide">
            <label for="title">ID</label>
            <input type="text" name="it" value="{{article.id}}">
        </div>
        <div class="form-item">
            <label for="title">标题</label>
            <input type="text" name="title" value="{{article.title}}" minlength="1" maxlength="100">
        </div>
        <div class="form-item">
            <label for="slug">地址</label>
            <input type="text" name="slug" value="{{article.slug}}" minlength="1" maxlength="100">
        </div>
        <div class="form-item">
            <label for="keywords">关键词</label>
            <input type="text" name="keywords" value="{{article.keywords}}" minlength="1" maxlength="100">
        </div>
        <div class="form-item">
            <label for="description">描述</label>
            <textarea name="description" minlength="1" maxlength="300" rows="1">{{article.description}}</textarea>
        </div>
        <div class="form-item">
            <label for="category">类别</label>
            <select name="category">
            {% for item in categories %}
                <option value="item.id">{{item.name}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-item content-wrap">
            <textarea name="content" rows="50">{{article.content}}</textarea>
        </div>
        <button class="preview">预览</button>
        <button>保存草稿</button>
        <button>发布</button>
    </div>
    <div class="preview-container">
        <pre></pre>
    </div>
{% endblock %}

{% block js %}
<script>
    var preBtn = document.querySelector('.preview');
    var preWrap = document.querySelector('.preview-container');

    preBtn.onclick = preview;
    preWrap.onclick = function () {
        preWrap.style.display = 'none';
    }
    function preview() {
        var md = document.querySelector("textarea[name='content']").value;
        fetch('/tool/parser-md-to-html', {
            headers: new Headers({'Content-Type': 'application/json'}),
            method: 'POST',
            body: JSON.stringify({
                'md': md
            })
        }).then(function(response) {
            return response.json();
        }).then(function(res) {
            var pre = document.querySelector('.preview-container pre');
            pre.innerHTML = res.data.html
            preWrap.style.display = 'block';
        })
    }

</script>
{% endblock %}