{% extends '../layouts/default.njk' %}

{% block content %}
    <h1 class="page-title">管理</h1>
    <a href="/admin/edit/new" class="add-article">添加文章</a>
    <ul class="article-list">
    {% for item in articles %}
        <li class="article-item">
            {{ item.title }}({{item.view_count}}℃)
            <span class="atc-addtime float-right">{{ item.addtime | dateFormat }}</span>
            <div>
                <a href="/admin/edit/{{item.id}}">编辑</a>
                <a href="javascript:void(0)" onclick="changeStatus({{item.id}}, {{item.status}})">
                {% if item.status == 0 %}
                    发布
                {% else %}
                    取消发布
                {% endif %}
                </a>
            </div>
        </li>
    {% endfor%}
    </ul>
{% endblock %}

{% block js %}
<script>
{# document.querySelectAll('change-status') #}
function changeStatus(id, status) {
    fetch('/admin/change-article-status', {
            headers: new Headers({'Content-Type': 'application/json'}),
            method: 'POST',
            body: JSON.stringify({
                id,
                status: status == 0 ? 1 : 0
            })
        }).then(function(response) {
            return response.json();
        }).then(function(res) {
            if(!res.status) {
                console.log(res.message);
            }
            console.log(res.message);
            window.location.reload();
        })
        return false;
}
</script>
{% endblock %}