{% extends '../layouts/default.njk' %}

{% block content %}
    <h1 class="page-title">登录</h1>
    <form action="/sign-in" method="post">
        <p>name: <input type="text" name="name" placeholder="userName"></p>
        <p>password: <input type="password" name="password" placeholder="password"></p>
        <button>sign in</button>
    </form>
{% endblock %}