* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    background: #fff;
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px dotted #000;
}
a:hover {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.clearfix {
    zoom: 1;
}
.clearfix::after {
    content: ' ';
    clear: both;
    display: block;
    width: 0;
    height: 0;
}

/* 基础布局 */
.container {
    width: 90%;
    max-width: 780px;
    min-width: 300px;
    margin: auto;
}

.header .title{
    text-align: center;
    border-bottom: 1px solid #CCC;
    line-height: 60px;
    font-size: 24px;
}
.header .title .code {
    font-family: 'Source Code Pro', monospace;
}

.header nav ul {
    list-style: none;
    font-size: 1.2em;
    line-height: 1.2;
}
.header nav ul li {
    float: left;
    margin: 10px 15px 0 0;
}
.header nav a {
    border: none;
}

@media (max-width: 500px) {
    .header {
        line-height: 30px;
        font-size: 16px;
    }
    .header .code {
        display: block;
    }
}

.footer {
    min-width: inherit;
    max-width: inherit;
    line-height: 30px;
    border-top: 3px double #ccc;
    background: #fff;
    color: #999;
    font-size: 0.8em;
}

.border-top {
    border-top: 1px solid #ccc;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.content {
    /* height: calc(100% - 40px); */
    margin: 20px 0;
}

h1.page-title {
    font-size: 1.5em;
    border-bottom: 1px solid #000;
}

/* 文章列表 */
.article-list {
    list-style: none;
    padding: 10px 0;
    font-size: 14px;
}

.article-item a {
    max-width: calc(100% - 100px);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.article-item .atc-addtime {
    font-family: 'Source Code Pro', monospace;
    float: right;
}

/* 文章详情 */
article .article-content {
    padding: 20px 0;
}

article .info,
article .category {
    color: #999;
}