* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    background: #fff;
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px dotted #000;
}
a:hover {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.container {
    width: 90%;
    max-width: 780px;
    min-width: 300px;
    margin: auto;
}

.header {
    text-align: center;
    border-bottom: 1px solid #CCC;
    background: #fff;
    line-height: 60px;
    font-size: 24px;
}
.header .code {
    font-family: 'Source Code Pro', monospace;
}

@media (max-width: 500px) {
    .header {
        line-height: 30px;
        font-size: 16px;
    }
    .header .code {
        display: block;
    }
}

.footer {
    height: 20px;
    text-align: center;
    min-width: inherit;
    max-width: inherit;
    border-top: 3px double #ccc;
    background: #fff;
    color: #999;
}

.border-top {
    border-top: 1px solid #ccc;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}


.content {
    height: calc(100% - 40px);
}

.article-list {
    list-style: none;
    padding: 10px 0;
    font-size: 14px;
}

.article-item a {
    max-width: calc(100% - 100px);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.article-item .atc-addtime {
    font-family: 'Source Code Pro', monospace;
    float: right;
}