* {
    padding: 0;
    margin: 0;
}
html {
    background: #fff;
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #45b6af;
}

.container {
    width: 90%;
    max-width: 1200px;
    min-width: 780px;
    margin: auto;
}

.header {
    height: 20px;
    text-align: center;
    border-bottom: 1px solid #CCC;
    background: #fff;
}
.menu {
    /* display: inline-block; */
}
.menu ul li {
    display: inline;
}
.footer {
    height: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    border-top: 1px solid;
    background: #fff;
}

.border-top {
    border-top: 1px solid #ccc;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}


.content {
    height: calc(100% - 40px);
}

.article-list {
    list-style: none;
    padding: 10px;
}