{% extends '../layouts/default.njk' %}

{% block content %}
    article.njk content!
    <p>title: {{ article.title }}</p>
    <p>tag: {{ article.tag }}</p>
    <p>description: {{ article.description }}</p>
    <p>content: {{ article.content }}</p>
    <p>addtime: {{ article.addtime }}</p>
{% endblock %}