{% set title = article.title %}
{% set description = article.description %}
{% set keywords = article.keywords %}

{% block link %}
    <link href="https://cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.min.css" rel="stylesheet">
{% endblock %}

{% extends '../layouts/default.njk' %}

{% block content %}
    <article>
        <h1 class="page-title">{{article.title}}</h1>
        <div class="article-content markdown-body">
            {{article.content | mdFilter | safe}}
        </div>
        <div class="info">
            作者：Deguang <br>
            创建时间：{{article.addtime | dateFormat}} <br>
            修改时间：{{article.modtime | dateFormat}}
        </div>
        <div class="category-search">
            类别：<a href={{'/?category=' + article.category_id}}>{{article.category_id | mapId(categories)}}</a>
        </div>
    </article>
{% endblock %}