{% extends '../layouts/default.njk' %}

{% block content %}
    <ul class="article-list">
    {% for item in articles %}
        <li class="article-item">
            <a href={{'/article/detail/' + item.id}} title={{item.title}}>
                {{ item.title }}
            </a>
            <span class="atc-addtime">{{ item.addtime | dateFormat }}</span>
        </li>
    {% endfor%}
    </ul>
{% endblock %}