{% extends '../layouts/default.njk' %}

{% block content %}
    <h1 class="page-title">文章</h1>
    <ul class="article-list">
    {% for item in articles %}
        <li class="article-item">
            <a href={{'/article/detail/' + item.slug}} title="{{item.title}}">
                {{ item.title }}
            </a>
            <span class="atc-addtime">{{ item.addtime | dateFormat }}</span>
        </li>
    {% endfor%}
    </ul>
{% endblock %}