{% extends '../layouts/default.njk' %}
{% set title = category | mapId(categories) %}

{% block content %}
    <h1 class="page-title">文章</h1>
    {% if category %}
    <div class="category">
        类别：<a href="/">{{category | mapId(categories)}}</a>
    </div>
    {% endif %}
    <ul class="article-list">
    {% for item in articles %}
        <li class="article-item">
            <a href={{'/article/detail/' + item.slug}} title="{{item.title}}">
                {{ item.title }} ({{item.view_count}}℃)
            </a>
            <span class="atc-addtime float-right">{{ item.addtime | dateFormat }}</span>
        </li>
    {% endfor%}
    {% if articles.length === 0 %}
        <li class="article-item">
            该类别下暂无文章
        <li>
    {% endif %}
    </ul>
{% endblock %}