<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title | tdk('t')}}码路-技术博客</title>
    <meta name="description" content="{{description | tdk('d')}}">
    <meta name="keywords" content="{{keywords | tdk('k') }}">
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/hljs.css" />
    <style>
        {{highlightCss}}
    </style>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    {% block link %}{% endblock %}
</head>
<body>
<div class="container">
    {% include "app/views/layouts/header.njk" ignore missing %}

    <section class="content">
        {% block content %}{% endblock %}
    </section>

    {% include "app/views/layouts/footer.njk" ignore missing %}
</div>
{% block js %}{% endblock %}
</body>
</html>