
<div class="footer">
    2018 © LiDeguang ( <a href="mailto:better_li@live.com">better_li@live.com</a> ).
    Licensed under <a target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh" rel="license">BY-NC-ND 4.0</a> unless otherwise specified.
</div>
