<div class="footer">
    2018 © Moonless ( <a href="mailto:better_li@Live.com">better_li@live.com</a> ).
    Licensed under <a target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh" rel="license">BY-NC-ND 3.0</a> unless otherwise specified.
</div>
