<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moonless</title>
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header">
        <div class="title">
            Moonless
            <span class="code">[ memory.push(pieces) ]</span>
        </div>
        <nav class="clearfix">
            <ul>
                <li><a href="/">文章</a></li>
                <li><a href="/about">关于</a></li>
                <li><a href="https://github.com/Deguang" target="_blank">Github</a></li>
            </ul>
        </nav>
    </div>

